SUPABASE_URL=https://pjiurhrrackhfpyjimgp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqaXVyaHJyYWNraGZweWppbWdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyODc2NDksImV4cCI6MjA4OTg2MzY0OX0.IS-GFS1UiNDy1qlO2-T4x57FO2ob5Kmld-lYMIs3Lv4
